#Server Port
serverPort=9090
#Comma seperated list of all the zookeeper servers (逗号分隔所有zookeeper服务器的列表)
zkServer=119.28.221.152:2181
#Http path of the repository. Ignore if you dont intent to upload files from repository. (存储库的Http路径,如果不打算从存储库上传文件，请忽略)
scmRepo=http://myserver.com/@rev1=
#Path appended to the repo url. Ignore if you dont intent to upload files from repository.(附加到回购url的路径,如果不打算从存储库上传文件，请忽略。)
scmRepoPath=//appconfig.txt
#if set to true then userSet is used for authentication, else ldap authentication is used.(如果设置为true，那么将使用userSet进行身份验证，否则将使用ldap身份验证)
ldapAuth=false
ldapDomain=mycompany,mydomain
#ldap authentication url. Ignore if using file based authentication. (ldap身份验证url,如果使用基于文件的身份验证，请忽略)
ldapUrl=ldap://<ldap_host>:<ldap_port>/dc=mycom,dc=com
#Specific roles for ldap authenticated users. Ignore if using file based authentication.(ldap身份验证用户的特定角色,如果使用基于文件的身份验证，请忽略)
ldapRoleSet={"users": [{ "username":"domain\\user1" , "role": "ADMIN" }]}
userSet = {"users": [{ "username":"admin" , "password":"manager","role": "ADMIN" },{ "username":"appconfig" , "password":"appconfig","role": "USER" }]}
#Set to prod in production and dev in local. Setting to dev will clear history each time.(在本地的生产和开发中负责产品的生产和开发,设置为dev将每次清除历史记录)
env=prod
jdbcClass=org.h2.Driver
jdbcUrl=jdbc:h2:zkui
jdbcUser=root
jdbcPwd=manager
#If you want to use mysql db to store history then comment the h2 db section.(如果您想使用mysql db来存储历史记录，那么请注释h2 db部分)
#jdbcClass=com.mysql.jdbc.Driver
#jdbcUrl=jdbc:mysql://localhost:3306/zkui
#jdbcUser=root
#jdbcPwd=manager
loginMessage=Please login using admin/manager or appconfig/appconfig.
#session timeout 5 mins/300 secs.
sessionTimeout=300
#Default 5 seconds to keep short lived zk sessions. If you have large data then the read will take more than 30 seconds so increase this accordingly. (默认时间为5秒，以保持短暂的zk会话,如果您有大数据，那么读取将花费30秒以上，因此相应地增加读取时间)
#A bigger zkSessionTimeout means the connection will be held longer and resource consumption will be high.(更大的zkSessionTimeout意味着连接将被保持更长时间，资源消耗将很高)
zkSessionTimeout=5
#Block PWD exposure over rest call.(阻止PWD曝光超过rest调用)
blockPwdOverRest=false
#ignore rest of the props below if https=false.(如果https=false通过rest调用，则阻塞PWD exposignore下面的其余道具)
https=false
keystoreFile=/home/user/keystore.jks
keystorePwd=password
keystoreManagerPwd=password
# The default ACL to use for all creation of nodes. If left blank, then all nodes will be universally accessible(用于所有节点创建的默认ACL。如果保留空白，那么所有节点都将是通用的)
# Permissions are based on single character flags: c (Create), r (read), w (write), d (delete), a (admin), * (all)
# For example defaultAcl={"acls": [{"scheme":"ip", "id":"192.168.1.192", "perms":"*"}, {"scheme":"ip", id":"192.168.1.0/24", "perms":"r"}]
defaultAcl=
# Set X-Forwarded-For to true if zkui is behind a proxy(如果zkui在代理后面，则将x转发到true)
X-Forwarded-For=false